* {
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: grey;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    padding: 15px 30px;
    font-weight: 600;
    color: black;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transform: 0.3s;
}

button.white {
    font-size: 14px;
    padding: 11px 18px;
    font-weight: 600;
    color: white;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid whitesmoke;
    cursor: pointer;
    outline: none;
    transform: 0.3s;
}

body {
    width: 100%;
}

#header {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.6s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* home page */
#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: calc(100% - padding);
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: rgb(168, 95, 237);
    font-size: 50px;
}

#hero button {
    background-image: url('img/button.png');
    background-color: transparent;
    color: rgb(168, 95, 237);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
}

#feature .fe-box h6 {
    padding: 9px 6px 8px 9px;
    line-height: 1;
    border-radius: 4px;
    color: black;
    background-color: bisque;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: violet;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: rgb(124, 124, 222);
}

#feature .fe-box:nth-child(4) h6 {
    background-color: greenyellow;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: rgb(234, 144, 111);
}

#feature .fe-box:nth-child(6) h6 {
    background-color: yellow;
}

#product1 {
    text-align: center;
    font-size: 25px;
}

#product1 .pro-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.05);
    margin: 15px 0;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);

}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: grey;
    font-size: 18px;
    font-weight: bold;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;

}

#banner h2 {
    color: white;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: rgb(224, 40, 40);
}

#banner button:hover {
    background-color: rgb(168, 95, 237);
    color: white;
}

#sm-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/banner/b17.jpg');
    min-width: 450px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;

}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/banner/b10.jpg');
    min-width: 450px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: rgb(152, 158, 150);
    color: white;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url('img/banner/b7.jpg');
    min-width: 25%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;

}

#banner3 .banner-box h3 {
    color: rgb(238, 70, 70);
    font-weight: 800;
    font-size: 15px;

}

#banner3 .banner-box2 {
    background-image: url('img/banner/b4.jpg');
}

#banner3 .banner-box3 {
    background-image: url('img/banner/b1.jpg');
}

#newslatter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url('img/banner/b14.png');
    background-position: 20% 30%;
    background-color: #041e42;
}

#newslatter h4 {
    font-size: 22px;
    font-weight: 800;
    color: whitesmoke
}

#newslatter p {
    font-size: 14px;
    font-weight: 600;
    color: grey;
}

#newslatter p span {
    color: #ffdb27;
}

#newslatter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newslatter .form {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

#newslatter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
    margin-left: -32px;
}

footer h4 {
    font-size: 15px;
    padding-bottom: 15px;
}

footer p {
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

footer a:hover {
    color: #088178;
}

footer .follow {
    margin-top: 20px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    transition: 0.5s;
}

footer .follow i:nth-child(1):hover {
    color: rgb(8, 68, 137);
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    animation: hoverRound;
    animation-duration: 1s;
}

footer .follow i:nth-child(2):hover {
    color: rgb(25, 127, 243);
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    animation: hoverRound;
    animation-duration: 1s;
}

footer .follow i:nth-child(3):hover {
    color: rgb(240, 80, 44);
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    animation: hoverRound;
    animation-duration: 1s;
}

footer .follow i:nth-child(4):hover {
    color: red;
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    animation: hoverRound;
    animation-duration: 1s;
}

footer .follow i:nth-child(5):hover {
    color: rgb(255, 27, 27);
    padding-right: 4px;
    cursor: pointer;
    font-size: 25px;
    animation: hoverRound;
    animation-duration: 1s;
}

@keyframes hoverRound {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

footer .install .row img {
    border: 2px solid grey;
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        right: -350px;
        top: 0;
        height: 100vh;
        width: 300px;
        background-color: whitesmoke;
        box-shadow: 0px 40px 60px rgba(33, 32, 32, 0.59);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #navbar li a {
        font-size: 25px;
    }

    #navbar.active {
        right: 0px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 30px;
    }

    #bar {
        cursor: pointer;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: black;
        font-size: 25px;
        font-weight: 800;
    }

    #close i:hover {
        animation: CloseRound;
        animation-duration: 0.6s;
    }

    @keyframes CloseRound {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(90deg);
        }
    }

    #bag {
        display: none;
    }

    #hero {
        height: 60vh;
        padding: 0px 80px;
        background-position: top 30% right 40%;
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin-left: 5%;
    }

    .section-p1 {
        padding: 40px 40px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 90%;
        height: 30vh;
    }

    #banner3 .banner-box {
        min-width: 90%;
        height: 25vh;
    }

    #newslatter .form {
        width: 70%;
    }
    /* contact page */
    #form-details{
        padding: 40px !important;
    }
    #form-details form {
        width: 50% !important;
    }
    /* cart page */
    #subtotal {
        width: 40% !important;
    }
}

@media (max-width:477px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;

    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    #feature .fe-box {
        width: 100%;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        width: 84%;
        height: 40vh;
        margin-right: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #newslatter {
        padding: 40px 20px;
    }

    #newslatter .form {
        width: 100%;
    }

    #prodetails {
        flex-direction: column;
    }

    #prodetails .single-pro-img {
        width: 100% !important;
        margin-right: 0px;
    }

    #prodetails .single-pro-details {
        width: 100% !important;
        padding-top: 30px;
        text-align: justify;
        position: relative;
    }

    /* blog-page */
    section#blog {
        padding: 80px 20px 0px 20px !important;
        
    }
    #blog .blog-box {
        display: flex;
        flex-direction: column;

    }
    #blog .blog-img {
        width:100% !important;
        margin-right: 0px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100% !important;
    }
    /*  about page*/
   #about-head{
    flex-direction: column;
   }
   #about-head img{
    width:100% !important;
    margin-bottom: 20px;
   }
   #about-head div {
    padding-left: 10px !important;
}
#about-app .video video {
    width: 100% !important;
    height: 100% !important;
    margin: 30px auto 0 auto;
    border-radius: 15px !important;
}
/*  contact page */

#contact-details {
    flex-direction: column;
}
#contact-details .details {
    width: 100% !important;
}
#contact-details .map {
    width: 100% !important;
    height: 300px !important;
    margin-top: 30px;
}
#form-details {
    flex-direction: column;
    padding: 20px !important;
}
#form-details form{
    width: 90%  !important;
    margin-bottom: 30px !important;
}
#form-details form button{
    width: 100% !important;
    margin-left: 20px !important;
    margin:auto;
}
/* cart page */
#cart-add {
    display: flex;
    flex-direction: column;
}
#coupon{
    width: 100% !important;
}
#subtotal {
    width: 85% !important;
    margin-bottom: 30px;
    border: 1px solid #088178;
    padding: 30px;
    border-radius: 10px;
}
}

/* shop page */
#page-header {
    background-image: url('img/banner/b1.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: wheat;
    font-size: 25px;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* single product details */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-img {
    width: 40%;
    margin-right: 50px;
}

#prodetails .small-img-group {
    display: flex;
    justify-content: space-between;
}

#prodetails .small-img-col {
    width: auto;
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
    font-size: 26px;
}

#prodetails .single-pro-details select {
    display: block;
    padding: 5px 10px;
    font-weight: 500;
    border: none;
    background-color: #088178;
    border-radius: 4px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input {
    width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
    border-radius: 4px;
    border-color: #088178;
    border: none;
}

#prodetails .single-pro-details input:focus {
    outline: none;
    border: 2px solid #088178;
}

#prodetails .single-pro-details button {
    background-color: rgb(176, 242, 77);
}

#prodetails .single-pro-details span {
    line-height: 25px;
    text-align: justify;
}

/* Blog page */

#page-header.blog-header {
    background-image: url('img/banner/b19.jpg');
    width: auto;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;

}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: #1a1a1a;
    font-weight: 700;
    position: relative;
    transition: 1s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #1a1a1a;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #088178;
}

#blog .blog-details a:hover::after {
    background-color: #088178;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 50px;
    font-weight: 800;
    color: #888a89;
    z-index: -10;

}

/* about page */
#page-header.about-header{
    width: auto;
    background-image: url('img/about/banner.png');
}
#about-head  {
    display: flex;
    align-items: center;
}
#about-head img{
    width: 50%;
    height: auto;
    border-radius: 20px;
}
#about-head div h2{
    font-size: 35px;
   
}
#about-head div{
    padding-left: 40px;
    text-align: justify;
    line-height: 22px;
}
#about-app {
    text-align: center;
    font-size: 32px;
}
#about-app .video video{
    width: 50%;
    height: 100%;
    margin: 30px auto 0 auto;
    border-radius: 25px;
}

/* contact page */
#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;

}
#contact-details .details span ,
#form-details form{
    font-size: 12px;
}
#contact-details .details h2, 
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 20px;
}
#contact-details .details li{
 list-style: none;
 display: flex;
 padding: 10px 0;
}
#contact-details .details li i{
     font-size: 14px;
     padding-right:25px ;
   }
   #contact-details .details li p{
       margin: 0;
       font-size: 14px;
  }
  #contact-details .map{
    width: 55%;
    height: 400px;
  }
  #contact-details .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  #form-details  {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 2px solid  #088178;
    border-bottom: 10px solid #088178;
    border-top: 10px solid #088178;
    border-radius: 20px;
  }
  #form-details form{ 
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #form-details form input,
  #form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    border:1px solid #e1e1e1;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  #form-details form button{
    background-color: #088178;
    color: whitesmoke;
  }
  #form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px auto;
    

  }
  #form-details .people div img{ 
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
  }
  #form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
  }
  #form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #088178;
  }

  /* cart page */
  #cart table{
    width: 100%;
    border-collapse:collapse ;
    table-layout: fixed;
    white-space: nowrap;
  }
  #cart table img{
    width: 70px;
  }
  #cart table th{
    width: 150px;
    text-align: center;
  }
  #cart table td:nth-child(1){
    width: 150px;
    text-align: center;
  }
  #cart table td:nth-child(2){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(4),
  #cart table td:nth-child(5),
  #cart table td:nth-child(6){
    width: 250px;
    text-align: center;
  }
  #cart table td:nth-child(5) input{
width: 30px;
padding: 10px 5px 10px 15px;
  }
  #cart table thead{
    border: 1px solid #088178;
    border-left: none;
    border-right: none;
  }
  #cart table thead th{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
  }
  #cart table tbody tr td{
    padding-top: 15px;
  }
  #cart table tbody td {
    font-size: 13px;
  }
  #cart-add{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  #cart{
    overflow-x: auto;
  }
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border:1px solid #088178;
    border-radius: 4px;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border:1px solid #088178;
    padding: 30px;
    border-radius: 10px;
}
#subtotal table{
    border-collapse: collapse;
    width:100% ;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border:1px solid #088178;
    padding: 10px;
    font-size: 13px;
}